<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="dashboardcontainer">
        <button onclick="location.href='/logout'" type="button" class="m-2">Logout</button>
        <button onclick="location.href='/newproduct'" type="button">Add New Product</button>
        <button onclick="location.href='/'" type="button">Home</button>
        <h2>Current Appointments:</h2>
        {% for appointments in all_apps %}
            <div class="eachapp">
                <h2>Appointment ID: #{{appointments.id}}</h2>
                <h3>Name: {{appointments.name}}</h3>
                <p>Date: {{appointments.date}}</p>
                <p>Email: {{appointments.email}}</p>
                <p>Product: {{appointments.product_id}}</p>
                <button onclick="location.href='/deleteres/{{appointments.id}}'" type="button">Delete</button>
            </div>
        {% endfor %}
    </div>
</body>
</html>