<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div id="container">
        <div class="topbar">
            <a href="/"><h1>Bri's Salon</h1></a>
            <a href="/reserve" class="reserve">Reserve</a>
            <a href="/reviews" class="reserve">Reviews</a>
            <a href="/login" class="login">Login</a>
        </div>
        <div class="middlehome">
            <div class="leftcolumn">
                <img src="/static/DSC_2317.jpg" alt="thegoat" class="mainimg">
            </div>
            <div class="rightcolumn">
                <h2 class="mainname">Briauna Lemmerman</h2>
                <p class="mainpara">Loacted In Aurora,CO. We offer a variety of diffrent services ranging from waxing to haircuts to perms. With more than 25 years of expirence combined around 5 employes we offer only the highest quality of service and the quickest in the state. Our mission at Bri's Salon is to provide the best a friendly, and high quality service where anyone feels welcome and taken care of. We Strive To Exceed Your Expectations.</p>
            </div>
        </div>
        <div class="mainbody">
            <h2 class="clientheader">Clients</h2>
            <div>
                <div class="clientrows">
                    <img src="/static/image1.png" alt="" class="clients">
                    <img src="/static/image2.png" alt="" class="clients">
                    <img src="/static/image3.png" alt="" class="clients">
                    <img src="/static/image4.png" alt="" class="clients">
                </div>
                <div class="clientrows">
                    <img src="/static/image5.png" alt="" class="clients">
                    <img src="/static/image6.png" alt="" class="clients">
                    <img src="/static/image7.png" alt="" class="clients">
                    <img src="/static/image8.png" alt="" class="clients">
                </div>
            </div>
        </div>
    </div>
</body>
</html>